@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Mono";
}

@layer utilities {
  .night-sky {
    background-color: #f0f9ff;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .night-sky-dark {
    background-color: #0c0f1c;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 2px;
    background-color: #0c0f1c;
    animation: twinkling 3s ease-in-out infinite;
  }

  .star-dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 2px;
    background-color: #f0f9ff;
    animation: twinkling 3s ease-in-out infinite;
  }

  .main {
    z-index: 1;
  }

  @keyframes twinkling {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
